#a {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.268);
    border: 2px solid rgb(176, 175, 175);
    text-align: center;
    width: 300px;
    padding: 25px;
    display: inline-block;
    /* tirar o espaçamento todo da largura, usando apenas o necessário */
    margin: 10px;
}

h3 {
    background-color: white;
}

h3 {
    color: black;
}

.dados {
    background-color: white;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    padding-top: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 3, 255);
}

.img {
    width: 300px;
}

.dados:hover {
    transform: scale(1.05);
    background-color: rgb(184, 1, 184);
}

#b {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.268);
    border: 2px solid rgb(176, 175, 175);
    text-align: center;
    width: 300px;
    padding: 25px;
    display: inline-block;
    /* tirar o espaçamento todo da largura, usando apenas o necessário */
    margin: 10px;
    padding-top: 1px;
}

footer {
    position: fixed;
    color: white;
    text-align: center;
    font-style: italic;
    background-color: gray;
    width: 100%;
    bottom: 0;
    padding-bottom: 15px;
}

footer > a {
    color: white;
    background-color: gray;
}

footer > p {
    background-color: gray;
}