:root{
    /* :root = criar variável */
    --corheaderinicial: #e7610d;
    --corheaderfinal: #b75901e9;
    --corfundobody: #dddbdb;
    --cormain: white;
    --corletraslink: #fff;
    --corrodape: #333;
    --corbotaoheader: #ffffff49;
    --cortitulo3: #e75f03;
}