#container {
    display: flex;
    /* transformar em flexbox */
    flex-flow: row wrap;
    justify-content: space-around;
    /* elementos da linha principal*/
    align-items: center;
    /* distribuição da linha secundária */
    align-content: space-around;
    /* elementos da linha secundária */
    width: 60vw;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    /* flex-flow = column wrap (escrever tudo na msm linha/flex-direction e flex-wrap)  */
    padding: 20px;
    height: 200px;
    gap: 10px;
    /* espaçamento dos elementos */
}

.item {
    flex-basis: auto;
    /* tamanho e largura dos items dentro do elemento pai */
    flex-grow: 1;
    /* crescimento dos elementos */
    flex-shrink: 1;
    /* diminuição dos elementos */
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}